@charset "UTF-8";


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(203, 228, 166);
}

form {
    background-color: white;
    height: 90%;
    width: 380px;
    border-radius: 20px;
}