@charset "UTF-8";

:root {
  --cor1:hsl(148, 38%, 91%);
  --cor2:hsl(169, 82%, 27%);
  --cor3: hsl(0, 66%, 54%);
  --cor4: hsl(0, 0%, 100%);
  --cor5: hsl(186, 15%, 59%);
  --cor6: hsl(187, 24%, 22%);
  
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cor1);
}

form {
  background-color: white;
  height: 90%;
  width: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px 0;
  color: var(--cor5);
}

h1 {
  color: var(--cor6);
}

h2 {
  font-size: 18px;
}

.square {
  margin: auto;
  width: 90%;
  height: 45px;
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.squareCircle {
  width: 15px;
  height: 15px;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 0px 20px;
}

.radio {
    margin-bottom: 10px;
}

#comment {
  height: 180px;
  width: 90%;
  margin: auto;
  border-radius: 10px;
}

#consentArea {
  display: flex;
  width: 90%;
  margin: 20px auto;
  font-size: 18px;
}

#consentArea input {
  margin-right: 20px;
}

#submit {
  background-color: var(--cor2);
  color: var(--cor4);
}

.sinal {
  color: var(--cor2);
  font-size: 15px;
}